name: Slack Notification
on:
  push:
    branches:
      - main
jobs:
  slack-notification:
    runs-on: ubuntu-latest
    steps:
    - name: Send Slack Notification
      uses: rtCamp/action-slack-notify@v2.1.0
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
      with:
        args: '{"text": "A push has been made to the main branch!"}'
